.Form {
    border: 1px solid black;
    border-radius: 2px 3px;
    box-shadow: 5px 5px rgb(19, 187, 13);
    background: #00c3ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ffff1c, #00c3ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ffff1c, #00c3ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 500px;
    height: 450px;
    margin: 30px auto;
}

.Label {
    font-weight: bold;
    margin: 5px 5px;

}

.Input {
    margin: 5px 5px;
    width: 250px;
    height: 30px;
}

.Textarea {
    margin: 5px 5px;
    width: 250px;
    height: 70px;
    overflow: scroll;
}