.Cards {
    border: 1px solid black;
    height: 350px;
    width: auto;
    margin: 50px;
}

.Select {
    border: 1px solid black;
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: medium;
    width: 170px;
    height: 25px;
    margin: 10px auto;    
}

.Confirmed {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    margin: 90px;
    display: inline-flex;
    flex-flow: column;
}

.Recovered {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    margin: 90px;
    display: inline-flex;
    flex-flow: row;
}

.Deaths {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    margin: 90px;
    display: inline-flex;
    flex-flow: row;
}